/build/
/build/*

CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.idea/
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf

.DS_Store
Thumbs.db

*.exe
*.out
*.app
*.dll
*.so
*.dylib

*.log
*.tmp

/tests/output/